<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/premierLeagueAPI.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d [%thread] %level %logger{36} - %msg%n</Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/premierLeagueAPI-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <logger name="com.springframework" level="WARN"/>
    <logger name="com.datastax" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>

</configuration>